@tailwind base;
@tailwind components;
@tailwind utilities;


/* Untuk browser Chrome, Safari, dan Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-checkbox {
  position: relative;
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.custom-checkbox:checked::after {
  content: '\2714';
  z-index: 10;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white !important;
}

.link {
  --tw-text-opacity: 1;
  color: #00AA5B;
  font-weight: 700;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F0F3F7;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6C727C;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6C727C;
}